<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form (submit)="register()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Login <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" name="login" [(ngModel)]="form.login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password" name="password" [(ngModel)]="form.password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Cadastrar</ion-button>
    </div>

    
    <ion-item routerDirection="'root'" routerLink="/login">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>
        Já tenho uma conta!
      </ion-label>
    </ion-item>

  </form>
</ion-content>